button {
    height: 65px;
	border: none;
	background: #800000;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 30px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

button:hover {
	background: rgba(0,0,0,0);
	color: #800000;
	box-shadow: inset 0 0 0 3px #800000;
	bgcolor: #800000;
	backgroun: fon4.png;
}
